name: poke-api-nestjs

services:
  redis:
    container_name: poke_redis
    image: redis:alpine3.21
    restart: always
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - poke-network

  mysql:
    container_name: poke_db
    image: mysql:8.0.32
    restart: always
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    environment:
      MYSQL_ROOT_PASSWORD: "${DATABASE_PASSWORD}"
      MYSQL_DATABASE: "${DATABASE_DATABASE}"
      MYSQL_USER: "${DATABASE_USER}"
      MYSQL_PASSWORD: "${DATABASE_PASSWORD}"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p123456"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - poke-network

  nest-bun-app:
    container_name: poke_app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env.docker
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped
    networks:
      - poke-network

networks:
  poke-network:
    driver: bridge

volumes:
  mysql_data:
