version: "3.9"

services:
  redis:
    image: redis:alpine3.21
    restart: always
    ports:
      - "6379:6379"
    networks:
      - typeorm-network

  mysql:
    image: mysql/mysql-server:8.0.31
    restart: always
    ports:
      - "3306:3306"
      - "33060:33060"
    command: ["mysqld", "--default-authentication-plugin=mysql_native_password"]
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: "appdb"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "123456"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - typeorm-network

  nest-bun-app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mysql
      - redis
    environment:
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      DATABASE_USER: admin
      DATABASE_PASSWORD: 123456
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - typeorm-network

networks:
  typeorm-network:
    driver: bridge

volumes:
  mysql_data:
